body {
    background-color: aliceblue;
}

a {
    cursor: pointer;
}


.authentication-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

.authentication-card {
    width: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}